/* HEADER */
#header-nav {
    background-color: #999999;
    border-radius: 0px;
    border: solid 3px;
    border-color: black;
}
#food-brand{
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
#collapsable-nav {
    padding: 0px;
    text-align: center;
    font-size: 1.2em;
}
#nav-list {
    margin: 0px;
    background-color: aliceblue;
}
#nav-list li a{
    border: solid 1px black;
    color: black;
}
#section-main-content {
    background-color: #999999;
}
#section-main-content p {
    height: 2000px
}